# Getting start Pandas

In [2]:
import pandas as pd
import numpy as np

In [3]:
dict1 = {
    "Name":["Ashish","Sameer","Rajesh","Preity"],
    "Roll_No.":[22082028,22082027,22082031,22092032],
    "City":["Morena","Bhopal","Patna","Patna"]
}

In [4]:
dict1

{'Name': ['Ashish', 'Sameer', 'Rajesh', 'Preity'],
 'Roll_No.': [22082028, 22082027, 22082031, 22092032],
 'City': ['Morena', 'Bhopal', 'Patna', 'Patna']}

In [5]:
df = pd.DataFrame(dict1)

In [6]:
df

     Name  Roll_No.    City
0  Ashish  22082028  Morena
1  Sameer  22082027  Bhopal
2  Rajesh  22082031   Patna
3  Preity  22092032   Patna

In [7]:
df.to_csv("friends.csv")

In [8]:
df.to_csv("friends_index_false.csv",index=False)

In [9]:
df.head(2)

     Name  Roll_No.    City
0  Ashish  22082028  Morena
1  Sameer  22082027  Bhopal

In [10]:
df.tail(2)

     Name  Roll_No.   City
2  Rajesh  22082031  Patna
3  Preity  22092032  Patna

In [11]:
df.describe()

           Roll_No.
count  4.000000e+00
mean   2.208453e+07
std    5.001667e+03
min    2.208203e+07
25%    2.208203e+07
50%    2.208203e+07
75%    2.208453e+07
max    2.209203e+07

In [12]:
df

     Name  Roll_No.    City
0  Ashish  22082028  Morena
1  Sameer  22082027  Bhopal
2  Rajesh  22082031   Patna
3  Preity  22092032   Patna

In [13]:
df["Name"]

0    Ashish
1    Sameer
2    Rajesh
3    Preity
Name: Name, dtype: object

In [14]:
df["Roll_No."]

0    22082028
1    22082027
2    22082031
3    22092032
Name: Roll_No., dtype: int64

In [15]:
df["Name"][3] = "Preity Mishra"

C:\Users\Rajesh K Uchadiya\AppData\Local\Temp\ipykernel_11724\129766674.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Name"][3] = "Preity Mishra"

In [16]:
df

            Name  Roll_No.    City
0         Ashish  22082028  Morena
1         Sameer  22082027  Bhopal
2         Rajesh  22082031   Patna
3  Preity Mishra  22092032   Patna

In [17]:
df["Name"][3] = "Preity"

C:\Users\Rajesh K Uchadiya\AppData\Local\Temp\ipykernel_11724\95644658.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Name"][3] = "Preity"

In [18]:
df

     Name  Roll_No.    City
0  Ashish  22082028  Morena
1  Sameer  22082027  Bhopal
2  Rajesh  22082031   Patna
3  Preity  22092032   Patna

In [19]:
df.index = ['1','2','3','4']

In [20]:
df

     Name  Roll_No.    City
1  Ashish  22082028  Morena
2  Sameer  22082027  Bhopal
3  Rajesh  22082031   Patna
4  Preity  22092032   Patna

In [21]:
newdf = pd.DataFrame(np.random.rand(334,5), index=np.arange(334))

In [22]:
newdf

            0         1         2         3         4
0    0.148201  0.117928  0.788403  0.885271  0.292030
1    0.303767  0.873540  0.863133  0.131168  0.385390
2    0.808746  0.157618  0.220153  0.635851  0.751146
3    0.860344  0.899856  0.213996  0.774135  0.914150
4    0.079452  0.316646  0.724304  0.937449  0.706278
..        ...       ...       ...       ...       ...
329  0.553746  0.386381  0.499074  0.843573  0.946705
330  0.380056  0.983924  0.627664  0.981230  0.166442
331  0.335835  0.390459  0.686720  0.030222  0.881853
332  0.056425  0.021443  0.766047  0.539329  0.291349
333  0.816640  0.650784  0.805392  0.111066  0.570964

[334 rows x 5 columns]

In [23]:
type(newdf)

pandas.core.frame.DataFrame

In [24]:
newdf.describe()

                0           1           2           3           4
count  334.000000  334.000000  334.000000  334.000000  334.000000
mean     0.498675    0.499540    0.516998    0.507964    0.467477
std      0.290515    0.297565    0.287734    0.284889    0.278261
min      0.000502    0.001418    0.001062    0.000140    0.001378
25%      0.232181    0.251680    0.286643    0.258242    0.232761
50%      0.499691    0.471869    0.517468    0.529131    0.460542
75%      0.751015    0.768234    0.780144    0.743861    0.671284
max      0.999634    0.994633    0.989461    0.996074    0.998213

In [25]:
newdf.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            324, 325, 326, 327, 328, 329, 330, 331, 332, 333],
           dtype='int64', length=334)

In [26]:
newdf.columns

RangeIndex(start=0, stop=5, step=1)

In [27]:
newdf.to_numpy()

array([[0.14820142, 0.11792805, 0.78840338, 0.88527148, 0.29203047],
       [0.30376673, 0.87353994, 0.8631334 , 0.13116823, 0.3853897 ],
       [0.8087458 , 0.15761755, 0.22015292, 0.63585132, 0.75114586],
       ...,
       [0.33583516, 0.39045859, 0.68672046, 0.03022218, 0.88185303],
       [0.05642465, 0.02144297, 0.76604745, 0.53932862, 0.29134935],
       [0.81663959, 0.65078359, 0.80539203, 0.11106632, 0.57096355]])

In [28]:
newdf

            0         1         2         3         4
0    0.148201  0.117928  0.788403  0.885271  0.292030
1    0.303767  0.873540  0.863133  0.131168  0.385390
2    0.808746  0.157618  0.220153  0.635851  0.751146
3    0.860344  0.899856  0.213996  0.774135  0.914150
4    0.079452  0.316646  0.724304  0.937449  0.706278
..        ...       ...       ...       ...       ...
329  0.553746  0.386381  0.499074  0.843573  0.946705
330  0.380056  0.983924  0.627664  0.981230  0.166442
331  0.335835  0.390459  0.686720  0.030222  0.881853
332  0.056425  0.021443  0.766047  0.539329  0.291349
333  0.816640  0.650784  0.805392  0.111066  0.570964

[334 rows x 5 columns]

In [29]:
newdf.T

,0,1,2,3,4,5,6,7,8,9,...,324,325,326,327,328,329,330,331,332,333
0,0.148201,0.303767,0.808746,0.860344,0.079452,0.968531,0.882710,0.362434,0.548223,0.444360,...,0.393278,0.081777,0.256536,0.064242,0.262854,0.553746,0.380056,0.335835,0.056425,0.816640
1,0.117928,0.873540,0.157618,0.899856,0.316646,0.377275,0.506362,0.447269,0.993518,0.551833,...,0.522499,0.075290,0.463512,0.530123,0.662070,0.386381,0.983924,0.390459,0.021443,0.650784
2,0.788403,0.863133,0.220153,0.213996,0.724304,0.791455,0.734134,0.136345,0.704874,0.056379,...,0.154684,0.145440,0.336636,0.477468,0.934375,0.499074,0.627664,0.686720,0.766047,0.805392
3,0.885271,0.131168,0.635851,0.774135,0.937449,0.156192,0.588661,0.811374,0.539432,0.244326,...,0.840433,0.539924,0.514567,0.831398,0.655363,0.843573,0.981230,0.030222,0.539329,0.111066
4,0.292030,0.385390,0.751146,0.914150,0.706278,0.221371,0.624774,0.620993,0.879823,0.317694,...,0.437875,0.522838,0.736285,0.415619,0.313243,0.946705,0.166442,0.881853,0.291349,0.570964

In [30]:
newdf

            0         1         2         3         4
0    0.148201  0.117928  0.788403  0.885271  0.292030
1    0.303767  0.873540  0.863133  0.131168  0.385390
2    0.808746  0.157618  0.220153  0.635851  0.751146
3    0.860344  0.899856  0.213996  0.774135  0.914150
4    0.079452  0.316646  0.724304  0.937449  0.706278
..        ...       ...       ...       ...       ...
329  0.553746  0.386381  0.499074  0.843573  0.946705
330  0.380056  0.983924  0.627664  0.981230  0.166442
331  0.335835  0.390459  0.686720  0.030222  0.881853
332  0.056425  0.021443  0.766047  0.539329  0.291349
333  0.816640  0.650784  0.805392  0.111066  0.570964

[334 rows x 5 columns]

In [31]:
newdf.to_csv("random.csv")

In [32]:
newdf.sort_index(axis=0,ascending=False)

            0         1         2         3         4
333  0.816640  0.650784  0.805392  0.111066  0.570964
332  0.056425  0.021443  0.766047  0.539329  0.291349
331  0.335835  0.390459  0.686720  0.030222  0.881853
330  0.380056  0.983924  0.627664  0.981230  0.166442
329  0.553746  0.386381  0.499074  0.843573  0.946705
..        ...       ...       ...       ...       ...
4    0.079452  0.316646  0.724304  0.937449  0.706278
3    0.860344  0.899856  0.213996  0.774135  0.914150
2    0.808746  0.157618  0.220153  0.635851  0.751146
1    0.303767  0.873540  0.863133  0.131168  0.385390
0    0.148201  0.117928  0.788403  0.885271  0.292030

[334 rows x 5 columns]

In [33]:
newdf.sort_index(axis=0)

            0         1         2         3         4
0    0.148201  0.117928  0.788403  0.885271  0.292030
1    0.303767  0.873540  0.863133  0.131168  0.385390
2    0.808746  0.157618  0.220153  0.635851  0.751146
3    0.860344  0.899856  0.213996  0.774135  0.914150
4    0.079452  0.316646  0.724304  0.937449  0.706278
..        ...       ...       ...       ...       ...
329  0.553746  0.386381  0.499074  0.843573  0.946705
330  0.380056  0.983924  0.627664  0.981230  0.166442
331  0.335835  0.390459  0.686720  0.030222  0.881853
332  0.056425  0.021443  0.766047  0.539329  0.291349
333  0.816640  0.650784  0.805392  0.111066  0.570964

[334 rows x 5 columns]

In [34]:
newdf[0]

0      0.148201
1      0.303767
2      0.808746
3      0.860344
4      0.079452
         ...
329    0.553746
330    0.380056
331    0.335835
332    0.056425
333    0.816640
Name: 0, Length: 334, dtype: float64

In [35]:
type(newdf[0])

pandas.core.series.Series

In [36]:
newdf2 = newdf.copy()

In [37]:
newdf2

            0         1         2         3         4
0    0.148201  0.117928  0.788403  0.885271  0.292030
1    0.303767  0.873540  0.863133  0.131168  0.385390
2    0.808746  0.157618  0.220153  0.635851  0.751146
3    0.860344  0.899856  0.213996  0.774135  0.914150
4    0.079452  0.316646  0.724304  0.937449  0.706278
..        ...       ...       ...       ...       ...
329  0.553746  0.386381  0.499074  0.843573  0.946705
330  0.380056  0.983924  0.627664  0.981230  0.166442
331  0.335835  0.390459  0.686720  0.030222  0.881853
332  0.056425  0.021443  0.766047  0.539329  0.291349
333  0.816640  0.650784  0.805392  0.111066  0.570964

[334 rows x 5 columns]

In [38]:
newdf.loc[0,0] = 654

In [39]:
newdf

              0         1         2         3         4
0    654.000000  0.117928  0.788403  0.885271  0.292030
1      0.303767  0.873540  0.863133  0.131168  0.385390
2      0.808746  0.157618  0.220153  0.635851  0.751146
3      0.860344  0.899856  0.213996  0.774135  0.914150
4      0.079452  0.316646  0.724304  0.937449  0.706278
..          ...       ...       ...       ...       ...
329    0.553746  0.386381  0.499074  0.843573  0.946705
330    0.380056  0.983924  0.627664  0.981230  0.166442
331    0.335835  0.390459  0.686720  0.030222  0.881853
332    0.056425  0.021443  0.766047  0.539329  0.291349
333    0.816640  0.650784  0.805392  0.111066  0.570964

[334 rows x 5 columns]

In [40]:
newdf.columns = list("ABCDE")

In [41]:
newdf

              A         B         C         D         E
0    654.000000  0.117928  0.788403  0.885271  0.292030
1      0.303767  0.873540  0.863133  0.131168  0.385390
2      0.808746  0.157618  0.220153  0.635851  0.751146
3      0.860344  0.899856  0.213996  0.774135  0.914150
4      0.079452  0.316646  0.724304  0.937449  0.706278
..          ...       ...       ...       ...       ...
329    0.553746  0.386381  0.499074  0.843573  0.946705
330    0.380056  0.983924  0.627664  0.981230  0.166442
331    0.335835  0.390459  0.686720  0.030222  0.881853
332    0.056425  0.021443  0.766047  0.539329  0.291349
333    0.816640  0.650784  0.805392  0.111066  0.570964

[334 rows x 5 columns]

In [42]:
newdf.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            324, 325, 326, 327, 328, 329, 330, 331, 332, 333],
           dtype='int64', length=334)

In [43]:
newdf.index = newdf.index+1

In [44]:
newdf

              A         B         C         D         E
1    654.000000  0.117928  0.788403  0.885271  0.292030
2      0.303767  0.873540  0.863133  0.131168  0.385390
3      0.808746  0.157618  0.220153  0.635851  0.751146
4      0.860344  0.899856  0.213996  0.774135  0.914150
5      0.079452  0.316646  0.724304  0.937449  0.706278
..          ...       ...       ...       ...       ...
330    0.553746  0.386381  0.499074  0.843573  0.946705
331    0.380056  0.983924  0.627664  0.981230  0.166442
332    0.335835  0.390459  0.686720  0.030222  0.881853
333    0.056425  0.021443  0.766047  0.539329  0.291349
334    0.816640  0.650784  0.805392  0.111066  0.570964

[334 rows x 5 columns]

In [45]:
df

     Name  Roll_No.    City
1  Ashish  22082028  Morena
2  Sameer  22082027  Bhopal
3  Rajesh  22082031   Patna
4  Preity  22092032   Patna

In [46]:
df.loc["1","Hostel"] = "DSR"

In [47]:
df

     Name  Roll_No.    City Hostel
1  Ashish  22082028  Morena    DSR
2  Sameer  22082027  Bhopal    NaN
3  Rajesh  22082031   Patna    NaN
4  Preity  22092032   Patna    NaN

In [48]:
df.loc["Hostel"] = ("DSR","DSR","DSR","GSE",)

In [49]:
df

          Name  Roll_No.    City Hostel
1       Ashish  22082028  Morena    DSR
2       Sameer  22082027  Bhopal    NaN
3       Rajesh  22082031   Patna    NaN
4       Preity  22092032   Patna    NaN
Hostel     DSR       DSR     DSR    GSE

In [50]:
df

          Name  Roll_No.    City Hostel
1       Ashish  22082028  Morena    DSR
2       Sameer  22082027  Bhopal    NaN
3       Rajesh  22082031   Patna    NaN
4       Preity  22092032   Patna    NaN
Hostel     DSR       DSR     DSR    GSE

In [51]:
df.drop('Hostel', axis=0)

     Name  Roll_No.    City Hostel
1  Ashish  22082028  Morena    DSR
2  Sameer  22082027  Bhopal    NaN
3  Rajesh  22082031   Patna    NaN
4  Preity  22092032   Patna    NaN

In [52]:
calendar = pd.DataFrame(np.arange(30).reshape(5,6))

In [53]:
calendar

    0   1   2   3   4   5
0   0   1   2   3   4   5
1   6   7   8   9  10  11
2  12  13  14  15  16  17
3  18  19  20  21  22  23
4  24  25  26  27  28  29

In [54]:
calendar.columns = ['M','T','W','T','F','S']

In [55]:
calendar

    M   T   W   T   F   S
0   0   1   2   3   4   5
1   6   7   8   9  10  11
2  12  13  14  15  16  17
3  18  19  20  21  22  23
4  24  25  26  27  28  29

In [56]:
calendar(5,'M') = '30'

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (4288492087.py, line 1)

In [ ]:
calendar

In [ ]:
calendar.loc["5","M"] = '30'

In [ ]:
calendar

In [ ]:
calendar

In [ ]:
calendar.drop('5',axis=0)

In [ ]:
calendar

In [ ]:
calendar

In [ ]:
calendar = calendar.drop('5',axis=0)

In [ ]:
calendar

In [ ]:
type('M')

In [ ]:
friends

In [ ]:
friends

In [ ]:
df

In [ ]:
friends = df

In [ ]:
friends

In [ ]:
df

In [ ]:
friends.drop('Hostel',axis=0)

In [ ]:
friends.loc[[2,3,],['Hostel']] = 'DSR'

In [ ]:
friends

In [ ]:
friends = friends.drop('Hostel',axis=0)

In [ ]:
friends

In [ ]:
df.loc[:, 'Hostel'] = 'DSR'

In [ ]:
df

In [ ]:
df = df.drop('Hostel',axis=0)

In [ ]:
df

In [ ]:
df.loc[['4'],['Hostel']] = 'GSE'

In [ ]:
df

In [ ]:
df

In [ ]:
friends = df.loc[['4'],['Hostel']] = 'GSE'

In [ ]:
friends

In [ ]:
friends = df

In [ ]:
friends

In [ ]:
df.loc[['5'],['Name','City','Hostel']] = ('Maneesh','Kanpur','DSR')

In [ ]:
df

In [ ]:
calendar.loc["5","M"] = '30'

In [ ]:
df.loc["5",['Name','City','Hostel']] = 'Maneesh','Kanpur','DSR'

In [ ]:
df

In [ ]:
df.loc[:,['Name','City']]

In [ ]:
df.loc[df['Hostel']=='DSR']

In [ ]:
df.loc[df['Hostel']=='GSE']

In [ ]:
df.loc[(df['Hostel']=='DSR') & (df['City']=='Patna')]

In [ ]:
df

In [ ]:
df
df.iloc[3,0]

In [ ]:
df.iloc[3,1] = 22082032

In [ ]:
df

In [ ]:
df.iloc[4,1] = '220820__'

In [ ]:
df

In [ ]:
df.iloc[5,0] = 'Sibam'

In [ ]:
df.loc["6",['Name','Roll_No.','City','Hostel']] = 'Sibam','220820__','Katak','DSR'

In [ ]:
df

In [ ]:
df.info

In [ ]:
df.info()

In [ ]:
df.describe

In [57]:
df.describe()

          Name  Roll_No.   City Hostel
count        5         5      5      2
unique       5         5      4      2
top     Ashish  22082028  Patna    DSR
freq         1         1      2      1

In [59]:
df

          Name  Roll_No.    City Hostel
1       Ashish  22082028  Morena    DSR
2       Sameer  22082027  Bhopal    NaN
3       Rajesh  22082031   Patna    NaN
4       Preity  22092032   Patna    NaN
Hostel     DSR       DSR     DSR    GSE

In [146]:
df.describe

<bound method NDFrame.describe of       Name  Roll_No.    City Hostel
1   Ashish  22082028  Morena    DSR
2   Sameer  22082027  Bhopal    DSR
3   Rajesh  22082031   Patna    DSR
4   Preity  22082032   Patna    GSE
5  Maneesh  220820__  Kanpur    DSR
6    Sibam  220820__   Katak    DSR>

In [147]:
df.describe()

          Name  Roll_No.   City Hostel
count        6         6      6      6
unique       6         5      5      2
top     Ashish  220820__  Patna    DSR
freq         1         2      2      5